<!-- Start NavBar -->
<nav class="navbar navbar-expand-lg bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <span class="ml-5 text-theme mr-5">SHOP</span>
      <span class="text-theme mr-5">OUR STORY</span>
      <span class="text-theme mr-5">EXPERTISE</span>
    </ul>
    <div>
      <img src="../assets/images/png/logo.png" width="40%" alt="logo" style="margin-left: -25%;">
    </div>
    <div class="inline-block my-2 my-lg-0">
      <span class="text-theme mr-5">CONTACT</span>
      <span class="text-theme mr-5">
        <img src="../assets/images/svg/group1.svg">
        <img src="../assets/images/svg/cart.svg" style="margin-left: -50px;">
      </span>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<!-- Main Content -->
<div>

  <!-- Landing Area -->
  <div id="mainArea">
    <div class="font-bigcaslon" style="padding-top: 10%;">
      <h1 class="text-center text-theme">
        Super Soft, Stylish Bed Linen <br> Made With Love
      </h1>
    </div>
  </div>
  <!-- End Landing Area -->

  <div class="p-5"></div>

  <!-- Text -->
  <div id="textArea" class="text-center text-theme">
    <h3 style=" font-family: auto;">
      Our premium products got the finest quality cotton that create an exquisite lightweight <br>
      textile that’s both soft and crisp – guaranteed to give you a wonderful night’s sleep.
    </h3>
  </div>
  <!-- End Text -->

  <div class="p-3"></div>

  <!-- Products Area -->
  <div class="container" style="max-width: 80%;">
    <div class="row">
      <div class="col-md-6 pdt-card" style="background-image: url('../assets/images/png/image2.png');">
        <button class="btn btn-light shopButton">Shop Bed Linens</button>
      </div>
      <div class="col-md-6 pdt-card" style="background-image: url('../assets/images/png/image3.png');">
        <button class="btn btn-light shopButton">Shop Bath Towels</button>
      </div>
      <div class="col-md-6 pdt-card" style="background-image: url('../assets/images/png/image4.png');">
        <button class="btn btn-light shopButton">Shop Bath Robes</button>
      </div>
      <div class="col-md-6 pdt-card" style="background-image: url('../assets/images/png/image5.png');">
        <button class="btn btn-light shopButton">Shop Home Fragrances</button>
      </div>
    </div>
  </div>
  <!-- End Products Area -->

  <div class="p-5"></div>

  <!-- Header -->
  <div align="center">
    <h2 class="text-theme font-bigcaslon">Best Sellers</h2>
  </div>
  <!-- End Header -->

  <div class="p-3"></div>

  <!-- Best Sellers -->
  <div class=" container" style="max-width: 80%;">
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img src="../assets/images/png/image6.png" width="470" height="490px">
        </figure>
        <br>
        <label class="text-black font-weight-bold">Product Name</label>
        <br>
        <label class="text-theme font-brownlight">AED XXX</label>
        <br>
        <label class="text-faded font-brownlight">Available in 5 colours.</label>
      </div>
      <div class="col-md-4">
        <figure>
          <img src="../assets/images/png/image7.png" width="470" height="490px">
        </figure>
        <br>
        <label class="text-black font-weight-bold">Product Name</label>
        <br>
        <label class="text-theme font-brownlight">AED XXX</label>
        <br>
        <label class="text-faded font-brownlight">Special Offer </label>&nbsp;<label class="text-black-50"> Get 25%
          OFF.</label>
      </div>
      <div class="col-md-4">
        <figure>
          <img src="../assets/images/png/image8.png" width="470" height="490px">
        </figure>
        <br>
        <label class="text-black font-weight-bold">Product Name</label>
        <br>
        <label class="text-theme font-brownlight">AED XXX</label>
        <br>
        <label class="text-faded font-brownlight">Available in 3 colours.</label>
      </div>
    </div>
  </div>
  <!-- End Best Sellers -->

  <div class="p-5"></div>

  <!-- Priority Area -->
  <div class="bg-beige-lt">
    <div style="padding-top: 5%;">
      <div class="text-center">
        <h1 class="font-bigcaslon">Your Comfort Is Our #1 Priority</h1>
      </div>
    </div>
    <figure>
      <img src="../assets/images/svg/group2.svg" width="100%" alt="">
    </figure>
    <div class="container" style="max-width: 75%;">
      <div class="row">
        <div class="col-md-3 text-center">
          <h6>Quality Products</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do</p>
        </div>
        <div class="col-md-3 text-center">
          <h6>Lifetime Warranty</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do</p>
        </div>
        <div class="col-md-3 text-center">
          <h6>Stress-free Shopping</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do</p>
        </div>
        <div class="col-md-3 text-center">
          <h6>Fair Prices</h6>
          <p class="text-muted">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do</p>
        </div>
      </div>
      <div class="p-5"></div>
    </div>
  </div>
  <!-- End Priority Area -->

  <div class="p-5"></div>

  <!-- Testimonials Area -->
  <div class="container text-center">
    <figure>
      <img src="../assets/images/svg/stars.svg">
    </figure>
    <div class="p-2"></div>
    <div>
      <h1 class="font-bigcaslon">"This is the best towel set I've ever had; it's cool, <br>
        comfortable and aesthetically perfect."</h1>
    </div>
    <div class="p-3"></div>
    <div>
      <button class="btn btn-link m-0">READ TESTIMONIALS</button>
      <hr width="15%" class="mt-0">
    </div>
  </div>
  <!-- End Testimonials Area -->

  <div class="p-5"></div>

  <!-- Gallery Area -->
  <div>
    <div class="text-center">
      <span class="text-theme">FOLLOW US ON </span> <img src="../assets/images/svg/instagram.svg" alt="">
    </div>
    <div class="p-3"></div>
    <div class="row">
      <div class="col-md-3">
        <figure>
          <img src="../assets/images/png/image9.png" alt="">
        </figure>
      </div>
      <div class="col-md-3">
        <figure>
          <img src="../assets/images/png/image10.png" alt="">
        </figure>
      </div>
      <div class="col-md-3">
        <figure>
          <img src="../assets/images/png/image11.png" alt="">
        </figure>
      </div>
      <div class="col-md-3">
        <figure>
          <img src="../assets/images/png/image12.png" alt="">
        </figure>
      </div>
    </div>
  </div>
  <!-- End Gallery Area -->

  <div class="p-5"></div>

  <!-- Footer Area -->
  <div class="container font-brownlight" style="max-width: 90%;">
    <footer class="section-footer">
      <div class="container-fluid">
        <section class="footer-top padding-y">
          <div class="row">
            <aside class="col-md-3">
              <h6 class="title font-weight-bold">OUR STORY</h6>
              <p>
                Lorem ipsum dolor sit amet,consectetur <br>
                adipiscing elit,sed do eiusmod tempor <br>
                incididunt ut labore et dolore magna aliqua.
              </p>
            </aside>
            <aside class="col-sm-3">
              <h6 class="title font-weight-bold">MORE...</h6>
              <ul class="list-unstyled">
                <li> <a class="text-theme">About Us</a></li>
                <li> <a class="text-theme">Contact Us</a></li>
                <li> <a class="text-theme">Track My Order</a></li>
                <li> <a class="text-theme">FAQ</a></li>
              </ul>
            </aside>
            <aside class="col-sm-3">
              <h6 class="title font-weight-bold">SHOP</h6>
              <ul class="list-unstyled">
                <li> <a class="text-theme">Bed Linen</a></li>
                <li> <a class="text-theme">Bath Towels</a></li>
                <li> <a class="text-theme">Bath Robes</a></li>
                <li> <a class="text-theme">Home Fragrances</a></li>
              </ul>
            </aside>
            <aside class="col-sm-3">
              <h6 class="title font-weight-bold">NEWS LETTER</h6>
              <p>
                Subscribe to receive updates, access to <br> exclusive deals
                and more.
              </p>
              <div class="input-group">
                <input type="email" class="form-control col-8" name="" placeholder="Enter Email Address" id="">
                <button class="btn btn-dark form-control col-4">SUBSCRIBE</button>
              </div>
            </aside>
          </div>
        </section>
        <section class="footer">
          <div class="row">
            <div class="col-sm-6">
              <span class="float-left text-muted" style="margin-top: 8%;">© 2020 BLAUCHE</span>
            </div>
            <div class="col-sm-6" align="right">
              <figure>
                <img src="../assets/images/svg/group4.svg" alt="">
              </figure>
            </div>
          </div>
        </section>
      </div>
    </footer>
  </div>
  <!-- End Footer Area -->

</div>